<div class="main">
    <br>
    <br>
    <br>
    <br>
    <div class="box">
    <p class="heading">General FAQs</p>
    <div class="faqs">
       <details>
          <summary>How do you get an Elephalgo?</summary>
          <p class="text">You can buy Elephalgos on the secondary market on Rand Gallery and try for one on the weekly drop cycle!</p>
       </details>
       <details>
          <summary>How do weekly drops work?</summary>
          <p class="text">Weekly drops include a total of 38 Elephalgos! 10 are put into a shuffle, 3 are put into a giveaway, and the last 25 are dropped for 25A on Rand!</p>
       </details>
       <details>
          <summary>When are weekly drops?</summary>
          <p class="text">The current date and time of all weekly drops is Sunday 3 p.m. CST. Shuffle and giveaways entry period will last for 24 hours. </p>
       </details>
       <details>
        <summary>What is a shuffle?</summary>
        <p class="text">Shuffles are a commonly used method of randomly selecting winners to buy an NFT for a reduced price. It’s like a giveaway with a cost to receive the prize!</p>
     </details>
     <details>
        <summary>I wanna sign up for a shuffle, but where?</summary>
        <p class="text">Take a look at the “✨-shuffles” channel on discord and read the entry rules on the shuffle post, then react to the message with the appropriate reaction and you’re entered!</p>
     </details>
     <details>
        <summary>What is price for NFT from shuffle?</summary>
        <p class="text">It is currently 15 ALGO.</p>
     </details>
     <details>
        <summary>I wanna sign up for a giveaway, but where?</summary>
        <p class="text">Take a look at the “🎉-giveaways” channel on discord and read the entry rules on the giveaway post, then react to the message with the appropriate reaction and you’re entered!</p>
     </details>
     <details>
          <summary>What is the Elephant in the Room?</summary>
          <p class="text">These are members of the Discord server who are still looking to get their hands on an Elephalgo!</p>
    </details>
    <details>
        <summary>Where can I find gallery links?</summary>
        <p class="text">Gallery links can be found at the tops and bottoms of any page on the website!</p>
  </details>
    </div>
 </div>
<div class="box">
    <div class="heading">Game FAQs</div>
    <div class="faqs">
        <details>
            <summary>When will the Elephalgo Platforming game come out?</summary>
            <p class="text">The plan currently is to have the game out by the first week in Q2 (first week of April)! Stay tuned on Twitter for sneak peeks and previews of the game!</p>
        </details>
        <details>
            <summary>How will rewards from the game work?</summary>
            <p class="text">There will be a weekly level and those of the community that complete this level will be entered into a drawing for unique weekly NFT prizes only attainable that week!</p>
        </details>
        <details>
            <summary>How do I play the game?!</summary>
            <p class="text">The game is currently in beta and can be played through the website using the "Game" tab.</p>
        </details>
        <details>
            <summary>How do I connect my wallet to the game?</summary>
            <p class="text">To connect your wallet you should first create an account through the website using the "register" page. Once done this will bring up a connect wallet button and then sign in using your MyAlgo wallet and it should connect your wallet!</p>
        </details>
        <details>
            <summary>How can I change my display name?</summary>
            <p class="text">Your display name can be changed using the user-profile page!</p>
        </details>
        <details>
            <summary>The game isn't running that great, what can I do?</summary>
            <p class="text">Unity WebGL is not that optimized for the Chrome browser, instead try using the Firefox browser as this could greatly improve performance!</p>
        </details>
    </div>
</div>
<div class="box">
    <div class="heading">Discord Bot FAQs</div>
    <div class="faqs">
        <details>
            <summary>How to register?</summary>
            <p class="text">To register your Elephalgo to your discord account use the /register wallet-address: "your wallet address here". This will then pop up a box that looks like this!</p>
            <div class="mr-auto ml-auto">
                <img src="./assets/img/Discord Faq/Elephalgo_Verify_FAQ_Images_1.png" class="img-rounded">
            </div>      
        </details>
        <details>
            <summary>How to opt-in?</summary>
            <p class="text">Once you have clicked the button "Opt-In Here" you will be taken to the Rand Gallery page of the opt-in asset. Click the "Accept Asset-ID" button. This will then pull up a MyAlgo page where you can finish the transaction.</p>
            <div class="mr-auto ml-auto">
                <img src="./assets/img/Discord Faq/Elephalgo_Verify_FAQ_Images_2.png" class="img-rounded">
            </div>
        </details>
        <details>
            <summary>How to finish registration?</summary>
            <p class="text">Once you've opted-in on Rand Gallery come back to the discord and wait a few seconds. Next, select "I have opted-in!". If completed successfully you will get a "Successfully verified!" message. That looks like this!</p>
            <div class="mr-auto ml-auto">
                <img src="./assets/img/Discord Faq/Elephalgo_Verify_FAQ_Images_3.png" class="img-rounded">
            </div>
        </details>
        <details>
            <summary>Why should I register my Elephalgo?</summary>
            <p class="text">By registering you will get the "/flex" command! This allows you to flex your Elephalgos in the #flex-your-elephalgos channel! This command also gives a link to the NFT Explorer and Rand Gallery page!</p>
            <div class="mr-auto ml-auto">
                <img src="./assets/img/Discord Faq/Elephalgo_Verify_FAQ_Images_4.png">
            </div>
        </details>
        <details>
            <summary>Why do I need to opt-in?</summary>
            <p class="text">Doing this allows the bot to verify that you own the wallet, since only the wallets owner can opt-in to assets. This prevents someone from stealing your wallet and using it to get access to discord bot features. So, while it might be a bit more tedious, it is worth it!</p>
        </details>
    </div>
</div>

 </div>