<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/podrats_banner.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <br><br><br><br><br><br><br><br><br>
            <a href="" class="btn btn-outline-danger btn-round"><i class="fa-solid fa-headphones"></i> Latest Episode</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What is the Pod Rat podcast?</h2>
                <h5 class="description">The Pod Rats podcast is a weekly movie show that discusses all the latest and greatest movies!</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa-solid fa-clapperboard"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Watch the latest movies</h4>
                        <p class="description">Watch the same movies as the PodRats and join in on conversation and give your opinions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Feel like you're at the table</h4>
                        <p>Listen to some fun conversations and great takes, all while feeling like you're at the table with us.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa-solid fa-face-grin-tears"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">You get some great cold opens</h4>
                        <p>Each podcast is guaranteed to have at least one great cold open or your money back!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Let us know what you want to hear!</h4>
                        <p>Give use some feedback in the youtube comments. Let us know what movies you would like to hear our expert opinions on!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center" style="background-color: #1d1d1d">
    <div class="container">
        <h2 class="title">Who are the PodRats?</h2>
        <h4 class ="description">The PodRats are just five small boys from Oklahoma who love movies.</h4>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/podrats_logo.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">The Pod Rats</h4>
                                <p class="card-title">Putting a face to the name</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/christian.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Lead Rat</h4>
                                <p class="card-title">(Christian)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/brayden.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Daddy Rat</h4>
                                <p class="card-title">(Brayden)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/hunter.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Deputy Rat</h4>
                                <p class="card-title">(Hunter)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/aleks.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Swole Rat</h4>
                                <p class="card-title">(Aleks)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href=""><img src="./assets/img/parker.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Long Rat</h4>
                                <p class="card-title">(Parker)</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section section-dark text-center" style="background-color: #1d1d1d">
    <div class="container">
        <h2 class="title">Follow us on the Socials above and below to stay up to date.</h2>
    </div>
</div>