<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/podrats_banner.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <br><br><br><br><br><br><br><br><br>
            <a href="" class="btn btn-outline-danger btn-round"><i class="fa-solid fa-headphones"></i> Listen to the Latest Episode</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">What is a Pod Rat?</h2>
                <h5 class="description">The Pod Rats podcast is a weekly movie show that discusses all the latest and greatest movies!</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">1000 in Collection</h4>
                        <p class="description">Each Elephalgo is a uniquely generated NFT. See the full collection below.</p>
                        <a href="https://www.nftexplorer.app/collection/elephalgos" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-controller-modern"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">2.5D Platformer</h4>
                        <p>Holders can play the game to earn weekly NFT prizes, using a P2E style system.</p>
                        <a href="#gameplayer" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bullet-list-67"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Indexed with arc69</h4>
                        <p>The entire collection is indexed using arc69, giving each Elephalgo a rarity.</p>
                        <a href="#home" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-shop"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">NFTs with a Purpose</h4>
                        <p>The collection donates 10% of sales to wildlife conservation through the AWF.</p>
                        <a href="https://www.awf.org/" class="btn btn-link btn-info">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Want to get involved?</h2>
        <h4 class ="description">Check us out at these places.</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://www.randgallery.com/collection/elephalgos/"><img src="./assets/img/RandGallery.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://www.randgallery.com/collection/elephalgos/">
                            <div class="author">
                                <h4 class="card-title">Rand Gallery</h4>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://www.randgallery.com/collection/elephalgos/" class="btn btn-round btn-info"> Rand Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://ab2.gallery/address/HT7BRN25KQHYD2TP4NIKK5XFETXX4SICRHRRD3KGKBHHWZJS26D5BYXEFU"><img src="./assets/img/AB2Gallery.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://ab2.gallery/address/HT7BRN25KQHYD2TP4NIKK5XFETXX4SICRHRRD3KGKBHHWZJS26D5BYXEFU">
                            <div class="author">
                                <h4 class="card-title">AB2 Gallery</h4>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://ab2.gallery/address/HT7BRN25KQHYD2TP4NIKK5XFETXX4SICRHRRD3KGKBHHWZJS26D5BYXEFU" class="btn btn-round btn-info">AB2 Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://t.co/B66yx6cMEb"><img src="./assets/img/DiscordLogo.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://t.co/B66yx6cMEb">
                            <div class="author">
                                <h4 class="card-title">Discord</h4>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://t.co/B66yx6cMEb" class="btn btn-round btn-info">Discord</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://www.randgallery.com/collection/elephalgos/"><img src="./assets/img/ElephalgoIcon.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://www.randgallery.com/collection/elephalgos/">
                            <div class="author">
                                <h4 class="card-title">Twitter</h4>
                            </div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/Elephalgo" class="btn btn-round btn-info">Twitter</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
