<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']">Pod Rats Podcast</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow on Twitter!" data-placement="bottom" href="https://twitter.com/the_podrats" target="_blank">
                        <i class="fab fa-twitter"></i>
                        <p class="d-lg-none"> Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow on Instagram!" data-placement="bottom" href="https://www.instagram.com/thepodrats/" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <p class="d-lg-none"> Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow on Letterboxd!" data-placement="bottom" href="https://letterboxd.com/ThePodRats/" target="_blank">
                        <i class="fa-solid fa-l"></i>
                        <p class="d-lg-none"> etterboxd</p>
                    </a>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="btn btn-round btn-outline-danger" id="dropdownBasic1" ngbDropdownToggle><i class ="fa-solid fa-list"></i> Pages</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <div class="dropdown-header">All Pages</div>
                            <a [routerLink]="['/home']" class="dropdown-item" *ngIf="!isHome()">Home</a>
                            <div class="dropdown-divider"></div>
                            <a [routerLink]="['/faq']" class="dropdown-item">FAQ</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>