<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/GhostOutline.png');">
      <div class="filter"></div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Register</h3>
                        <form class="register-form"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <label>Username</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                              <div *ngIf="username.errors.minlength">Username must be at least 3 characters</div>
                              <div *ngIf="username.errors.maxlength">Username must be at most 20 characters</div>
                            </div>  
                            <label>Password</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-key-25"></i>
                                </span>
                              </div>
                                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                              <div *ngIf="password.errors.required">Password is required!</div>
                              <div *ngIf="password.errors.minlength">Password must be at least 6 characters!</div>
                            </div>

                            <button class="btn btn-danger btn-block btn-round">Join the Herd</button>
                            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isSignUpFailed"> Register failed: {{ errorMessage }}</div>
                          </form>
                        <div class="alert alert-info" role="alert" *ngIf="isSuccessful"> Succesfuly Registered!</div>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            <a href="#/signin" class="btn btn-link btn-danger">Already have an account</a>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
  </div>
</div>