<div class="main">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1 class="heading">Elephalgo Roadmap</h1>
    <div class="container">
        <ul>
           <li>
                <h3 class="title">
                    Project Launch
                    <i class="fa fa-check"></i>
                </h3>
                <p>The Elephalgo project launch will be the first step in getting the project off the ground! 20 Elephalgos will be dropped, 10 will be given away and 20 will be shuffled</p>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q1 2022 Week 3</span>
            </li>
            <li>
                <h3 class="title">
                    Weekly Drops and Giveaways
                    <i class="fa fa-check"></i>
                </h3>
                <p>Weekly 25 Elephalgos will be dropped from here moving forward. Additionally, 10 Elephalgos will be given away and 3 will be put into a shuffle.</p>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q1 2022 Week 4</span>
            </li>
            <li>
                <h3 class="title">Elephalgo Holders Platforming Game</h3>
                <p>Elephalgo holders will be able to participate in a weekly platforming challenge to win NFT prizes! More details and info coming soon!</p>
                <a href="#gameplayer">Read More</a>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q2 2022 Week 1</span>
            </li>
            <li>
                <h3 class="title">Elephalgo Drops and Game Prizes</h3>
                <p>Regular drops will continue, However, each week now the holders that complete the weekly level will earn weekly Elephalgo trophies and be entered in a givewaway for 10 new drops!</p>
                <a href="#faq">Read More</a>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q2 2022 Week 2</span>
            </li>
            <li>
                <h3 class="title">All Elephalgos Dropped</h3>
                <p>By this point all Elephalgos will have been dropped and the community will be able to vote on the future of the project.</p>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q3 2022 Week 1</span>
            </li>
            <li>
                <h3 class="title">Elephalgos 2.0</h3>
                <p>The future of the Elephalgo Project is the hands of the community! We'll have to see where they take us.</p>
                <span class="circle"></span>
                <span class="date" style="font-family:'Courier New', Courier, monospace">Q1 2023 Week 1</span>
            </li>
        </ul>
    </div>
</div>