<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/GhostOutline.png');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-7 mr-auto ml-auto">
                      <div class="card card-register">
                          <h2 class="title">Settings</h2>
                          <form class="register-form"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                              <label>Update Display Name</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="fa-solid fa-user-gear"></i>
                                  </span>
                                </div>
                                  <input type="text" class="form-control" placeholder="Display Name" name="displayname" [(ngModel)]="form.displayname" required #displayname = "ngModel">
                              </div>
                              <div class="alert alert-danger" role="alert" *ngIf="displayname.errors && f.submitted">Display name is required!</div>
                              <br>
                              <button class="btn btn-info btn-block btn-round">Update Display Name</button>
                              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isUpdateFailed"> Attempt failed: {{ errorMessage }}</div>
                            </form>
                          <div class="alert alert-info" role="alert" *ngIf="isUpdateIn"> Successfully updated display name!</div>
                          <h2 class="title">Connect Wallet</h2>
                          <button (click)="MyAlgoWalletConnect()" *ngIf="!isWalletConnected()" class="btn btn-info btn-block btn-round">Connect Wallet</button>
                          <button (click)="MyAlgoWalletManage()" *ngIf="isWalletConnected()" class="btn btn-info btn-block btn-round">Manage Wallet</button>
                        <br>
                        <h2 class="title">Select Asset for Avatar</h2>
                          <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                              <option selected>Select Asset ID of desired Avatar</option>
                              <option class="option" *ngFor="let asset of assetList">{{ asset }}</option>
                          </select>
                        
                        </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
